.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    width: 100vw;
    background: var(--g0);
}

.navbar> .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: inherit;
    width: 100%;
    padding-left: 72px;
    padding-right: 72px;
    height: 64px;
    max-width: var(--web-width);
}

.navbar> .list> .logo {
    margin-right: 12px;
    color: var(--m2);
    font-size: large;
    font-weight: bold;
}

.navbar > .list > .user > button {
    margin-left: 12px;
}